.login-wrapper {
  height: 100vh;
  background: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.login-panel {
  width: 1050px;
  height: 540px;
  background: linear-gradient(135deg, #020617, #7ea2f0);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 30px 70px rgba(0,0,0,0.7);
  animation: fadeIn 1s ease;
}

/* LEFT SECTION */
.login-info {
  width: 60%;
  padding: 45px;
  color: #f1f5f9;
}

.login-info h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.headline {
  color: #cbd5f5;
  margin-bottom: 25px;
}

.stats {
  display: flex;
  gap: 18px;
  margin-bottom: 30px;
}

.stat-box {
  width: 95px;
  background: rgba(255,255,255,0.05);
  padding: 16px 10px;
  border-radius: 12px;
  text-align: center;
  backdrop-filter: blur(6px);
  animation: float 3s ease-in-out infinite;
}

.stat-box h2 {
  margin: 0;
  color: #38bdf8;
  font-size: 20px;
}

.stat-box span {
  font-size: 12px;
  color: #94a3b8;
}

.main-image {
  width: 85%;
  margin-top: 10px;
  border-radius: 40px;

}

/* RIGHT SECTION */
.login-action {
  width: 40%;
  background: linear-gradient(135deg, #020617, #7ea2f0);
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 90px;
  margin: 0 auto 18px;
}

.login-action h2 {
  color: #f8fafc;
}

.login-action p {
  color: white;
  margin-bottom: 28px;
}

.connect-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ccp-container {
  width: 320px;
  height: 480px;
  background: #020617;
  border-radius: 12px;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.05);
}

/* LOGIN BUTTON */
.login-btn {
  width: 80%;
  background: linear-gradient(135deg, #ff9900, #ffb300);
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  color: #1e293b;
  transition: all 0.3s ease;
}

.login-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(255,153,0,0.6);
}

.secure-text {
  margin-top: 22px;
  font-size: 12px;
  color: white;
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}
