<div class="login-wrapper">

  <div class="login-panel">

    <div class="login-info">
      <h1>Agent Workspace</h1>
      <p class="headline">
        Handle customer conversations with speed, security and confidence.
      </p>

      <div class="stats">
        <div class="stat-box">
          <h2>99.9%</h2>
          <span>Uptime</span>
        </div>
        <div class="stat-box">
          <h2>24/7</h2>
          <span>Support</span>
        </div>
        <div class="stat-box">
          <h2>Cloud</h2>
          <span>Powered</span>
        </div>
      </div>

      <img src="pictures/Intro-jpg.webp" class="main-image" alt="Workspace">
    </div>

    <div class="login-action">
      <img src="" class="logo">

      <h2>Welcome Agent</h2>
      <p>
        Sign in securely using Amazon Connect and start receiving customer calls instantly.
      </p>
      <div class="connect-wrapper">
  <div #ccpContainer id="ccp-container" style="display: none;"></div>
  <button class="login-btn" (click)="init()" >login with AWS Connect</button>


      <span class="secure-text">
        🔒 AWS Secure Authentication
      </span>
    </div>

  </div>

</div>
